.outer {
  display: grid;
  justify-content: center;
  padding: 100px;
}

table {
  border: 2px solid black;
  background-color: rgb(209, 203, 203);
}

tr,
td {
  border: 2px solid red;
}
td {
  padding: 30px;
  background-color: black;
  color: white;
  cursor: pointer;
}